<!-- prettier-ignore -->
<% const d = new Date()
let year = d.getFullYear() %>

<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <!-- link to intentionally trigger a server error for testing -->
  <p class="footer-error-link">
    <a href="/error/forcedError">Secret Error</a>
  </p>
</footer>
