<!-- prettier-ignore -->
<% const d = new Date()
let year = d.getFullYear() %>

<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <!-- link to intentionally trigger a server error for testing -->
  <p class="footer-error-link">
    <!-- this first version didn't work because it isn't trying to pull database data -->
    <!-- <a href="/errors/forcedError">Secret Error</a> -->
    <a href="/inv/detail/99">Secret Error</a>
  </p>
</footer>
