<div id="hero">
  <h1 class="welcome">Welcome to CSE Motors!</h1>
  <div id="overlay">
    <h2>DMC Delorean</h2>
    <p>
      3 Cup holders<br />
      Superman doors<br />
      Fuzzy dice!
    </p>
    <p class="own_button"><a>OWN TODAY!</a></p>
  </div>
  <img src="/images/vehicles/delorean.jpg" alt="" />
</div>
<div id="large-grid_div">
  <section id="reviews_section">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </section>
  <section id="upgrades_section">
    <h2>Delorean Upgrades</h2>
    <div class="upgrade_div">
      <a href="#">
        <figure>
          <img
            class="upgrade_img"
            src="/images/upgrades/flux-cap.png"
            alt="Flux Capacitor"
          />
        </figure>
        <p>Flux Capacitor</p>
      </a>
    </div>
    <div class="upgrade_div">
      <a href="#">
        <figure>
          <img
            class="upgrade_img"
            src="/images/upgrades/flame.jpg"
            alt="Flame Decals"
          />
        </figure>
        <p>Flame Decals</p>
      </a>
    </div>
    <div class="upgrade_div">
      <a href="#">
        <figure>
          <img
            class="upgrade_img"
            src="/images/upgrades/bumper_sticker.jpg"
            alt="Bumper Stickers"
          />
        </figure>
        <p>Bumper Stickers</p>
      </a>
    </div>
    <div class="upgrade_div">
      <a href="#">
        <figure>
          <img
            class="upgrade_img"
            src="/images/upgrades/hub-cap.jpg"
            alt="Hub Caps"
          />
        </figure>
        <p>Hub Caps</p>
      </a>
    </div>
  </section>
</div>
